
$main-background-color: #EFEFEF;
$second-color:#3CC27D;


main{
    display: flex;
    flex-direction: column;
}

.body-top{
    align-self: center;
    position: relative;

    width: 96.25rem;
    max-width: calc(100% - 4rem);
}



.body-top-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 0.5rem;
    margin-bottom: 2.5rem;
    min-height: 48rem;
    transition: all 600ms ease-out; 
}

.body-top-info-banners{
    position: relative;
    .carousel{
        .carousel-item{
            img{
                width: 100%;
                height: 768px;
                object-fit: cover;
                object-position: 0;
            }
        }

        .carousel-control-prev-icon{
            width: 5rem;
        }
        
        .carousel-control-next-icon{
            width: 5rem;
        }
    }
}

.body-top-info-links{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-top: 1rem;
   
    .info-link{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1rem;
        margin: 0 0.5rem;
        background: white;
        border-radius: 6px;
    }
}


.body-top-info-brands{
    margin: 0 10rem;
    display: flex;
    width: 100%;

    .info-brands{
        padding: 1rem 5%;
    }
}


.home-section{
    padding: 0 1.4rem 1.4rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 99.049rem;
    width: 100%;
}

.home-section-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .home-section-title{
        font-size: 24px;
        line-height: 3rem;
        font-weight: 500;
        padding: 0;
        margin: 0.75rem 0rem;
        letter-spacing: inherit;
    }

    .home-section-more-link{
        text-decoration: none;
        color:#1F1E24;
        display: flex;
        align-items: center;
        font-size: 14px;
        padding: 0 20px;
        cursor: pointer;
        span:hover{
            text-decoration: underline;
        }
    }

}

.home-section-body{
    width: 100%;
    margin: 0 auto;

    .home-section-body-list{
        display: grid;
        grid-template-columns: repeat(5,minmax(0,1fr));
        grid-gap: 0.65rem;
    }
    
}


.home-section-body-slider{
    width: 97%;
    margin: 0 auto;
    background: white;
}

.about-us{
    padding: 0 1.4rem 1.4rem;
    position: relative;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 99.049rem;
    width: 100%;


    .about-us-info{
        height: 128px;
        --sq-color: #EFEFEF;

        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 1;
            box-shadow: 10px -35px 20px 80px var(--sq-color);
        }
    
    }


    .about-us-title{
        margin-bottom: 0.2rem;
        font-size: 20px;
        font-weight: 700;
        color:#383A3B;
    }

    .about-us-title-2{
        margin-bottom: 0.2rem;
        font-size: 14px;
        font-weight: 700;
        color:#383A3B;
    }

    .about-us-text{
        margin-bottom: 1rem;
        font-size: 14px;
        color:#383A3B;
    }

    .about-us-text-last{
        margin-bottom: 1rem;
        font-size: 14px;
        color:#383A3B;
        display: none;
    }

    .about-us-btn{
        position: relative;
        z-index: 4;
        margin-top: 0.8rem;
        color:#9ACD6A;
        cursor: pointer;
    }

}