.personal-data-block{
    margin-left: 10px;
    width:80%;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 20px 20px 20px 20px;
}

.personal-data-title{
    font-size: 30px;
    font-weight: 400;
}

.personal-data-small-title{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
}

.full-name-div{
    margin-top: 10px;
}

.title{
    font-size: 14px;
    font-weight: 400;
    color: #5C6875;
    display: inline;

}

.full-name-text{
    margin-left: 120px;
    font-size: 14px;
    font-weight: 400;
    color: #2B3946;
    display: inline;
}

.mail-div{
    margin-top: 10px;
}

.mail-text{
    margin-left: 100px;
    font-size: 14px;
    font-weight: 400;
    color: #2B3946;
    display: inline;
}

.phone-div{
    margin-top: 10px;
}

.phone-text{
    margin-left: 30px;
    font-size: 14px;
    font-weight: 400;
    color: #2B3946;
    display: inline;
}

.bday-div{
    margin-top: 10px;
}

.bday-text{
    margin-left: 25px;
    font-size: 14px;
    font-weight: 400;
    color: #2B3946;
    display: inline;
}

.delivery-div{
    margin-top: 10px;
}

.delivery-text{
    margin-left: 30px;
    font-size: 14px;
    font-weight: 400;
    color: #2B3946;
    display: inline;
}