.div{
    svg{
        pointer-events: none;
    }
}
.div:hover{
    .card-icon-control-wishlist{
        fill:#9ACD6A;
        transition: all .15s linear;
        path{
            fill:#605D70;;
        }
    }

}