.list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.2rem 1.6rem 1.2rem 1.6rem;
    min-width: 17rem;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: box-shadow 0.3s linear;
    border-radius: 6px;

}

.list-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;

    .list-item-promo-label {
        color: #9ACD6A;
        font-size: 20px;
        font-weight: 600;
    }

    .list-item-list-control {
        display: flex;
        flex-direction: row;
        cursor: pointer;

        .control-item {
            margin: 0 0.8rem;
        }

        .control-wishlist {
            margin-right: 0;
        }
    }

}

.list-item-img {
    position: relative;

    .img-carousel {
        z-index: 20;

        img {
            margin-bottom: 1rem;
            width: 100%;
            height: 100%;
        }

        .carousel-indicators [data-bs-target] {
            border-top: none;
            border-bottom: none;
        }

        .carousel-indicators {
            margin-bottom: -0.5rem;
            z-index: 1;
            background: #383A3B59;
            border-radius: 12px;

            .active {
                background: #2B3946;
                border-radius: 12px;
            }

            button {
                z-index: 2;
                margin: 0;
                width: 67px;
                height: 7px;
                background: transparent;
                border-radius: 12px;
                transition: opacity .5s, background-color .5s, width .5s;
            }


        }

        .carousel-control-prev {
            display: none;
            justify-content: center;
            align-items: center;
            width: 20%;
            margin: 0.2rem -1.58rem;

            .carousel-control-prev-icon {
                width: 2rem;
                height: 2rem;
                filter: black !important;
            }
        }


        .carousel-control-next {
            display: none;
            justify-content: center;
            align-items: center;
            width: 20%;
            margin: 0.2rem -1.58rem;

            .carousel-control-next-icon {
                width: 2rem;
                height: 2rem;
                filter: black !important;
            }
        }

    }

}

.list-item:hover .carousel-control-prev {
   // background: #B1B7BA80;
    display: flex !important;
}

.list-item:hover .carousel-control-next {
  //  background: #B1B7BA80;
    display: flex !important;
}


.list-item-content {
    display: flex;
    flex-direction: column;
}

.list-item-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;

    .item-info-name {
        margin: 1.5rem 0 0.5rem 0;
        font-size: 16px;
        width: 100%;
        flex-grow: 4;
        text-decoration: none;
        color: black;
        cursor: pointer;
    }
}

.list-item-info-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .content-feedback-labels {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .content-feedback {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

    }

    .content-price-actions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .content-price-actions-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .actions-content-price {
                display: flex;
                flex-direction: column;
                justify-content: center;



                .actions-content-price-old {
                    color: #CCCCCC;

                    span {
                        text-decoration: line-through;
                    }

                    .actions-content-price-discount {
                        text-decoration: none;
                        margin-left: 10px;
                        color: #D03F3F;
                        font-weight: 500;
                    }
                }

                .actions-content-price-current {
                    font-size: 28px;
                    font-weight: 500;
                }

            }

            .actions-content-btn {

                .list-item-btn {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    padding: 10px;
                    gap: 10px;
                    width: 60px;
                    height: 57px;
                    background: #2B3946;
                    border: none;
                    border-radius: 30px 30px 0px 30px;
                    transition: all .15s linear;
                }

                .list-item-btn:hover {
                    background: #5C6875;
                    transition: all .15s linear;
                }

                .list-item-btn_link {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    padding: 10px;
                    gap: 10px;
                    width: 60px;
                    height: 57px;
                    background: #9ACD6A;
                    border: none;
                    border-radius: 30px;
                    transition: all .15s linear;
                }


            }
        }

        .content-price-actions-annotations {
            font-size: 14px;
            margin-top: 1rem;

            .bonus-label-value {
                color: #959595;
                font-weight: 300;
            }

            .bonus-label-text {
                margin-left: 5px;
            }

        }
    }
}


.list-item-more-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 99%;
    z-index: 7;
    transform: translateX(0%);
    background: white;
    width: 100%;
    border-radius: 0 0 6px 6px;
    padding: 0rem 1.6rem 1.6rem 1.6rem;
    box-shadow: 0 1.5rem 1.5rem 0 rgba(50, 50, 50, 0.15);

}

.list-item-more-info-rating{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.list-item-more-info-characteristics {
    width: 100%;
    margin-top: 1rem;
}

.more-info-characteristics {
    margin-top: 0.2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    z-index: 20;
    padding: 0.2em;

    .more-info-characteristics-name {
        width: 50%;
    }

    .more-info-characteristics-value {
        text-align: end;
        width: 50%;
    }
}