.carousel-simple-item{
    position: relative;
    display: flex;
    flex-direction: column;


    padding: 0 1rem;
    margin: 1rem auto;
    width: 95%;

    background-color: white;
    z-index: 6;
    transition: box-shadow 0.3s linear;
    border: 1px solid #e5e5e5;
    border-radius: 6px;

}

.carousel-simple-img{
    position: relative;
    .img-link{
        
            img{
                margin: 0 auto;
                width: 12rem;
                height: 12rem;
            }
    }
}

.carousel-simple-item-info{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    a{
        margin: 0rem 0 0.4rem 0;
        font-size: 14px;
        line-height: 1.5rem;
        word-break: break-word;
        width: 100%;
        flex-grow: 4;
        text-decoration: none;  
        color:black
    }

}

.carousel-simple-info-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    
    .content-feedback-labels{
        display: flex;
        flex-direction: column;
        justify-content: space-between;  

        .content-feedback{
            display: flex;
            flex-direction: row;
            justify-content: space-between; 
        }

    }
    
    .content-price-actions{
        display: flex;
        flex-direction: column;
        justify-content: space-between;  

        .content-price-actions-content{
            display: flex;
            flex-direction: row;
            justify-content: space-between; 

            .actions-content-price{
                display: flex;
                flex-direction: column;
                justify-content: space-between; 

                .actions-content-price-old{
                    
                    color:#CCCCCC;

                    .actions-content-price-discount{
                        margin-left: 10px;
                        color:#3CC27D;
                        font-weight: 500;
                    }
                }

                .actions-content-price-current{
                    font-size:28px;
                    font-weight: 500;
                }

            }

            .actions-content-btn{

                .list-item-btn{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    padding: 10px;
                    gap: 10px;

                    width: 52px;
                    height: 52px;

                    background: #1F1E24;
                    border: none;
                    border-radius: 25px 25px 0px 25px;
                    transition: all .15s linear;
                }

                .list-item-btn:hover{
                    
                    background:#3CC27D;
                    border: none;
                    transition: all .15s linear;
                }

            }
        }

        .content-price-actions-annotations{
            font-size: 12px;
            margin-top: 1rem;

            .bonus-label-value{
                color: #ecd400;
                font-weight: 600;
            }

            .bonus-label-text{
                margin-left: 5px;
            }

        }
    }
}