// COLORS
$city-selector-top-background-color: #3F4E5D;
$city-selector-content-background-color: #2B3946;

$top-background-color: #FFFFFF;
$top-font-color: #1F1E24;

$bottom-background-color: #3F4E5D;
$bottom-font-color: #EFEFEF;

$main-color: #EFEFEF;
$second-color: #9ACD6A;

// FONT-SIZE
$font-size: 14px;


//City-block


.block-city-selector-top {
    background-color: $city-selector-top-background-color;
    width: 100%;

    .section-selector-top {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 96.25rem;
        margin: 0 auto;
        padding: 0.7rem 0rem;
    }

    .selector-top-search {
        display: flex;
        position: relative;


        .selector-search-input {
            font-size: $font-size;
            background-color: #5C6875;
            color: #EFEFEF;
            width: 21rem;
            height: 40px;
            padding: 3px 0px 3px 15px;
            margin-left: 2.5rem;
            border: 2px solid rgba(0, 0, 0, 0.5);
            border-radius: 6px 0px 0px 6px;
            border-color: transparent;
            border-right: none;
            outline: none;

        }

        .selector-search-input::placeholder {
            color: #EFEFEF;
            opacity: 1;
        }

        .selector-search-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            background: #2B3946;
            text-align: center;
            color: #eeeeee;
            border: 2px solid rgba(0, 0, 0, 0.5);
            border-color: transparent;
            border-radius: 0px 6px 6px 0px;
            border-left: none;
            cursor: pointer;

            svg {
                pointer-events: none !important;

                path {
                    fill: white;
                }
            }
        }
    }

    .selector-top-close {
        display: flex;
        margin-right: 2.5rem;
        cursor: pointer;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 100%;
            background: #2B3946;
            color: black;
            border: none;

        }
    }
}

.block-city-selector-content {
    position: relative;
    background-color: $city-selector-content-background-color;
    width: 100%;

    .section-selector-content {
        height: 25rem;
        max-width: 110rem;
        margin: auto;
    }

}

//Header
.header {
    position: relative !important;
}

.display-none {
    display: none !important;
}

.sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    z-index: 200;
}

//Header-top
.header-top {
    position: relative !important;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background: $top-background-color;
    width: 100%;
}

.header-top-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size;
    background: $top-background-color;
    color: $top-font-color;
    width: 96.25rem;
    margin: 0 2rem;
    height: 4.5rem;

    .header-top-left {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        .header-top-logo {
            padding-right: 1rem;
        }

        .header-link-logo {
            cursor: pointer;
        }
    }



    .header-top-city-selector {
        margin-left: 2rem;
    }
}

.header-top-city-selector {
    font-weight: 500;
    transition: all .15s linear;
    cursor: pointer;
}

.header-top-city-selector:hover {
    color: #CC6060;
    transition: all .15s linear;

    path {
        fill: #CC6060;
        transition: all .15s linear;
    }
}

.header-top-nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    ;
}

.header-nav-stock {
    position: relative;
    display: inline-block;
    color: #EFEFEF;
    background: #D03F3F;
    line-height: 1.8rem;
    white-space: nowrap;
    padding: 0.2rem 1.5rem;
    border-radius: 26.6667px;
    transition: all .15s linear;
    cursor: pointer;
}

.header-nav-stock-list {
    position: absolute;
    right: -0.6rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background: white;
    padding: 1rem 1rem 0.5rem 1rem;
    z-index: 140;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .header-stock-link {
        border-bottom: 1px dotted;
        text-decoration: none;
        color: $top-font-color;
        line-height: 1.1rem;
        margin-bottom: 0.5rem;
    }

    .header-stock-link:hover {
        border-bottom: 1px solid;
    }

    .header-more-stock-link {
        text-decoration: none;
        color: #D03F3F;
    }
}

.header-link {
    margin: 0 1rem;
    color: $top-font-color;
    display: block;
    line-height: 2rem;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    transition: all .15s linear;
}

.header-link:hover {
    color: #CC6060;
    transition: all .15s linear;

    path {
        fill: #CC6060;
        transition: all .15s linear;
    }
}

.header-nav-more {
    position: relative;
}

.header-nav-more-list {

    position: absolute;
    right: -0.6rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background: white;
    padding: 0.6rem 1rem;
    z-index: 140;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .header-more-link {
        text-decoration: none;
        color: $top-font-color;
    }

    .header-more-link:hover {

        color: #CC6060;
        transition: all .15s linear;
    }
}


.header-nav-feedback {
    position: relative;
    margin: 0 1rem;
    color: #CC6060;
    display: block;
    line-height: 2rem;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    transition: all .15s linear;
}


.header-nav-feedback-list {
    position: absolute;
    left: -0.6rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background: white;
    padding: 0.6rem 1rem;
    z-index: 140;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .header-feedback-link {
        text-decoration: none;
        color: $top-font-color;
    }

    .header-feedback-link:hover {
        text-decoration: underline;
    }
}


//Header-bottom
.header-bottom {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: $bottom-background-color;
    z-index: 130;
}


.header-bottom-content {
    z-index: 80;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 96.25rem;
    margin: 0 2rem;
    height: 4rem;
    font-size: $font-size;
    color: $bottom-font-color;
}



.header-bottom-categories {
    position: relative;
    min-width: 19rem;
    width: 19rem;
    padding: 0.2rem 0rem;
    height: 100%;

    .header-bottom-categories-menu {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        background: #2B3946;
        box-sizing: border-box;

        border-radius: 8px;

        span {
            width: 100%;
        }

    }

    .header-bottom-categories-menu-block {
        position: absolute;
        top: 100%;
        width: 19rem;
        font-size: 14px;
        background: white;
        z-index: 20;
        border-bottom-left-radius: 8px;

        .header-bottom-categories-menu-items {
            display: flex;
            flex-direction: column;
            padding: 1rem 0 2.5rem 0;

            .categories-menu-items {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                width: 100%;

            }

            .menu-item-link {
                text-decoration: none;
                display: flex;
                align-items: center;
                width: 100%;
                text-decoration: none;
                color: #2B3946;
            }

            .menu-item {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: start;
                font-size: $font-size;
                width: 100%;
                padding: 0.8rem 0.8rem;
                border-left: 0.2rem solid transparent;
                cursor: pointer;



                span {
                    margin-left: 1.2rem;
                    font-size: 12px;

                }

                .categories-menu-item-and-icon {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                }

            }

            .menu-items-active {
                background: #E0E0E0;
                border-left: 0.2rem solid #9ACD6A;
                border-bottom-right-radius: none;

                path {
                    fill: #1F1E24;
                }
            }

            .menu-item:hover {
                background: #E0E0E0;
                border-left: 0.2rem solid #9ACD6A;

                path {
                    fill: #1F1E24;
                }
            }

        }
    }

}

.sub-categories-block {
    position: absolute;
    top: 0;
    z-index: 10;
    left: 100%;
    width: auto;
    min-width: 77.25rem;
    height: 100%;
    font-size: 14px;
    padding: 1rem 2rem 2.5rem 2rem;
    background: white;
    display: grid;
    grid-template-columns: repeat(5,minmax(0,1fr));
    grid-gap: 1rem;
    border-bottom-right-radius: 8px;

    .sub-categories {
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        margin: 0.1rem 1rem;
        color: #9ACD6A;
        width: auto;

        .sub-categories-title {
            margin-bottom: 0.3rem;
            cursor: pointer;

            a {
                text-decoration: none;
                color: #9ACD6A;
                font-size: 16px;
                font-weight: 700;
                line-height: 22px;
            }
        }

        .sub-categories-filters {

            .categories-filters-name {
                margin: 0.2rem 0;
                color: #1F1E24;
                cursor: pointer;
            }

            .categories-filters-name:hover {
                color: #9ACD6A;
            }
        }
    }

}


.header-bottom-search {
    position: relative;
    display: flex;
    min-width: 300px;
    width: 100%;
    z-index: 150;
}


.header-search-input {
    font-size: $font-size;
    background-color: #5C6875;
    color: white;
    width: 100%;
    height: 50px;
    padding: 3px 0px 3px 19px;
    margin-left: 2rem;
    border: 0px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px 0px 0px 8px;
    border-color: transparent;
    border-right: none;
    outline: none;
}

.header-search-input::placeholder {
    color: #EFEFEF;
    opacity: 1;
}

.header-search-input:focus {
    border: none;
    border-right: none;
    outline: none;
}

.header-search-input:active {
    border: none;
    border-right: none;
    outline: none;
}

.header-search-input:focus+.header-search-btn {
    border: none;
    border-left: none;
    outline: none;
}

.header-search-input:active+.header-search-btn {
    border: none;
    border-left: none;
    outline: none;
}

.header-search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    text-align: center;
    background: #2B3946;
    color: #eeeeee;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-color: transparent;
    border-radius: 0 8px 8px 0;
    border-left: none;
    cursor: pointer;

    svg {
        pointer-events: none !important;

        path {
            fill: white;
        }
    }
}

.header-bottom-search-result {
    position: absolute;
    transform: translateX(2.1rem) translateY(3.5rem);
    height: auto;
    width: 96%;
    z-index: 150;

}

.header-bottom-searcher {
    display: grid;
    grid-template-areas: "all products";
    grid-template-columns: 45% 55%;
    background: white;
    border-radius: 8px;
    width: 100%;
}


.header-bottom-searcher-history {
    padding: 1rem;
    width: 100%;

    .header-bottom-searcher-history-title {
        color: #2B3946;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    .header-bottom-searcher-history-list {
        width: 100%;

        .history-list-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;

            svg {
                pointer-events: none;
            }
        }

        p {
            width: 100%;
            color: #2B3946;
            font-weight: 500;
            margin-bottom: 0.5rem;
        }

        svg {
            display: none;
        }

        .history-list-item:hover {
            p {
                text-decoration: underline;
            }

            svg {
                display: block;
            }
        }
    }
}


.header-bottom-searcher-products {
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    padding: 1rem;

    a {
        text-decoration: none;

        color: #2B3946;
    }

    a:last-child .header-bottom-searcher-history-product {
        border-bottom: none;
    }

    .header-bottom-searcher-history-product:hover .header-bottom-searcher-history-product-info-name {
        text-decoration: underline;
    }

    .header-bottom-searcher-history-product {
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        padding: 0.5rem 0;
        display: flex;
        align-items: start;
        color: #2B3946;
        cursor: pointer;


        .header-bottom-searcher-history-product-img {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 1rem;

            img {
                width: 6rem;
                height: 6rem;
            }
        }

        .header-bottom-searcher-history-product-info-name {
            font-size: 16px;
            font-weight: 400;

        }

        .header-bottom-searcher-history-product-info-prise {
            margin-top: 0.3rem;
            display: flex;
            align-items: center;
            justify-content: start;

            .price-section-old-price {
                font-size: 16px;
                text-decoration: line-through;
                color: #6B6B6B;
                margin-right: 0.5rem;
            }

            .price-section-current-price {
                font-size: 20px;
                font-weight: 600;
            }
        }
    }


}

.header-bottom-controls {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    .header-bottom-profile {
        background: #2B3946;
        margin-right: 1rem;
        margin-left: 2rem;
        border-radius: 8px;
        padding: 1rem 1.4rem;
        transition: all .15s linear;

        span {
            color: #9ACD6A;
            transition: all .15s linear;
        }

        a {
            color: #9ACD6A;
            text-decoration: none;
            transition: all .15s linear;
        }
    }

    .header-bottom-profile:hover {
        background: #9ACD6A;
        transition: all .15s linear;

        span {
            color: white;
            transition: all .15s linear;
        }

        a {
            color: white;
            transition: all .15s linear;
        }
    }

    .header-bottom-wishlist:hover {
        background: #2B3946;
        border-radius: 8px;
        transition: all .15s linear;
    }

    .header-bottom-compare:hover {
        background: #2B3946;
        border-radius: 8px;
        transition: all .15s linear;
    }

    .header-bottom-cart:hover {
        background: #2B3946;
        border-radius: 8px;
        transition: all .15s linear;
    }
}


.controls-items {
    padding: 0.8rem 0.8rem;
    margin: 0 0.2rem;
    transition: all .15s linear;
    cursor: pointer;
}

