.product-page-content {
    margin-top: 0.5rem;
    font-size: 20px;
    max-width: 96.25rem;
    width: 100%;
}

.product-page-tabs {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.product-page-breadcrumbs {
    
}

.product-page-tabs-sections {
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10); 
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 1.5rem;
    background: white;
    
    width: 100%;
    
}

.product-page-tabs-links {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 96.25rem;
    width: 100%;
}



.tab-link {  
    display: flex;
    flex: auto;
    align-items: center;
    color: gray;
    font-size: 16px;
    text-decoration: none;
    transition: all .15s linear;
}

.active {  
    color: #1D1D1D;
    font-size: 16px;
    font-weight: 600;
}

.active:hover {  
    color: #1D1D1D;
    font-weight: 600;
    background: rgb(209, 209, 209);
    transition: all .15s linear;
}


.tab-link:hover {  
    color: #1D1D1D;
    background: rgb(209, 209, 209);
    transition: all .15s linear;
}


.link-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.2rem;

}

.tab-link:not(:last-child).tab-link::after {
    content: "";
    width: 1px;
    height: 2.2rem;
    background-color: rgb(188, 188, 188);
}



.link-body::after{
    display: bloc k;
}

.link-tex {
    display: flex;
    align-items: center;
}

.active-tab {
    
}