.questions-block{
    margin-left: 10px;
    width: 80%;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 20px 20px 20px 20px;
}

.questions-title{
    font-size: 30px;
    font-weight: 400;
}

.questions{
    margin-top: 20px;
}

.question{
    padding: 10px 10px 10px 10px;
    width: 100%;
    border: 2px solid #efefef;
    border-radius: 8px;
    margin-top: 20px;
}

.question-title{
    font-size: 16px;
    font-weight: 400;
    display: inline;
}


.question-product-name{
    margin-left: 11px;
    font-size: 16px;
    font-weight: 400;
    display: inline;
}

.question-body{
    display: flex;
    margin-top: 10px;
    width: 100%;
}

.question-text{
    margin-top: 10px;
}

.rtitle{
    width: 14%;
}
.text{
    width: 90%;
}

.border{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #EFEFEF;
    height: 2px;
}

.question-data{
    text-align: right;
    width: 100%;
}