.user-page-block{
    width: 100%;
    align-self: center;
    position: relative;
    max-width: 96.25rem;
    margin-top: 30px;
    display: flex;
}

.buttons-block{
    position: sticky;
    top:8%;
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    height: 100%;
    border-radius: 8px;
    padding-top: 0.8rem;
}



.link-pending, .link-active{
    border-left: 2px solid transparent;
    padding: 1rem;
    color:#2B3946;
}

.link-pending:hover, .link-active:hover{
    color:#9ACD6A;
    svg{
        fill:#9ACD6A;
    }
}

.link-active{
    border-left: 2px solid #9ACD6A;
    font-weight: 600;
    background: #EFEFef;
}

.buttons-text{
    color: #2B3946;
    font-size: 14px;
    font-weight: 400;
}


.buttons-exit-text{
    display: flex;
    align-items: center;

    color: red;
    margin-left: 2.2rem;
    font-size: 14px;
    font-weight: 400; 
    padding: 1rem;
    padding-top: 0.5rem;
    cursor: pointer;
}

.icon-svg{
    margin-right: 20px;
    fill: #2B3946;
    width: 16px;
    height: 14px;
}



.viewed-products-title{
    font-size: 20px;
    font-weight: 700;
    
}